* {padding: 0; margin: 0;}

html, body{height: 100%;}

body{
	text-align: center;
	background-color: #FFF5F5;
}

a{	
	font-size: 2em; 
	text-decoration: none;
	margin: 0 0.6em;
}

h2{font-size: 3em; margin-bottom: 1em;}

h2, h3, .item_header{color: #eb268f;}

.buttons{
	padding: 0.3em;
	border-radius: 0.3em;
	background-color: #F29694; 
	color: white;
}
	.buttons:hover{background-color: #eb268f;}

.menu_items, #services{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.description{
	line-height: 1.4em;
	font-family: tahoma;
	font-size: 0.9em;
}

/****************************** Navigation ********************************/

#main_nav{
	background: url(images/nav-background.jpg) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	min-height: 100%;
	width: 100%;
	position: relative;
}

#navigation{
	padding: 2em 7rem;
	display: flex;
	justify-content: space-between;
	background: rgba(0,0,0,0.3);
}
	#left_nav img{width: 6.5rem; height: 100%;}

	#right_nav{padding: 0.5em; margin: auto 0;}
		.nav_links{color: white;}
			.nav_links:hover{color: #eb268f;}
	#nav_welcome{
		width: 80%;
		margin: 13% auto;
		color: white;
		font-size: 2em;
	}
		#nav_welcome h2{color: white; margin-bottom: 0.2em;}

/****************************** Content ********************************/

.content_container{
	width: 100%;
	padding: 3em 0;
}
	.content_container:nth-child(odd){
		background: url(images/service-background.jpg);
		background-size: cover;
		background-attachment: fixed;
	}

.menu_filter{
	border-radius: 0.5em;
	padding: 0.2em 0.3em;
}

.menu_items{padding: 2em;}
	section.cookies, section.breads, section.cupcakes{
		display: none;
	}


.item{
	position: relative;
	width: 300px;
	border: 1px solid black;
	border-radius: 0.3em;
	margin: 1em 2em;
	transition: 0.3s;
}
	.item:hover{
		opacity: 0.7; 
		transform: scale(1.1);
		cursor: pointer;
	}
	.item_header{
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		font-size: 1.1em;
		padding: 0.6em 0.8em;
	}
	.item p{
		text-align: left; 
		padding: 0 1em 1em 1em;
	}
	.item img{
		width: 100%; 
		height: 200px; 
		border-top-right-radius: 0.3em;
		border-top-left-radius: 0.3em;
	}

.new_item{
	position: absolute;
	color: white;
	background-color: #eb268f;
	text-transform: uppercase;

	padding: 0.2em;
	font-size: 1.2em;
	border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	left: 5%;
	width: 20%;
}

.image_modal_container{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
  	top: 0;
	background: rgb(0,0,0, 0.7);
}

.image_modal{
	width: 50%;
	height: 70%;
	margin: 5% auto;
	position: relative;
	border: 2px solid white;
}
	.close_button{
		font-size: 3em;
		color: black; 
		position: absolute;
		top: 0;
		right: 5%;
	}
	.image_modal img{
		width: 100%;
		height: 100%;
	}

.services_item{
	width: 250px;
	min-height: 300px;
	margin: 0 2em;
}
	.service_name{
		font-size: 1.5em;
		margin-top: 0.5em;
	}
	.services_item .description{
		margin: 1em 1em 3em 1em;
		text-align: justify;
	}
	.services_item .buttons{
		font-size: 1.5em;
	}

#scroll_up_container{
	position: absolute;
	font-size: 3em;
	right: 6%;
	bottom: 12%;
}
	#scroll_up{
		position: fixed;
		height: 4rem;
		width: 4rem;
		border-radius: 50%;
		opacity: 0.8;;
		padding: 0;
		transition: ease-in 0.2s;
	}
		#scroll_up:hover{opacity: 1;}

/****************************** Footer ********************************/

#sticky_footer{padding: 2em 5em;}
	#sticky_footer i{color: #F29694;}

#footer_info{
	display: flex;
	flex-direction: row;
}

#business_info{
	text-align: justify;
	margin: 0 auto;
}
.info{
	margin: 1em 0;
	font-size: 1.2em;
}
	.info i{margin-right: 1em;}

#business_info a{margin: 0 0.2em 0 0}
#social_media .fab:hover{color: #eb268f;}

#contact{
	width: 50%;
	text-align: left;
}

.form_details{
	width: 40%;
	height: 20px;
	padding: 1em;
	margin: 1em 1em 1em 0;
	border-radius: 0.3em;
}
#contact textarea{
	width: 87%;
	height: 100px;
	padding: 1em;
	border-radius: 0.3em;
	resize: none;
}
	.form_details:focus, textarea:focus{
		color: white;
		background-color: #F29694;
	}
		.form_details:focus::placeholder, textarea:focus::placeholder{color: white;}
		.form_details:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder{color: white;}

#contact input[type=submit]{
	margin-top: 0.5em;
	font-size: 1.5em;
	border: none;
	cursor: pointer;
}


